.NavbarItems {
  font-family: "Open Sans", sans-serif;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 95%;
  height: 60px;
  border-radius: 3px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
  color: #fff;
}
.navbarLogo {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}
.nav-link:hover {
  border-radius: 10px;
}

.nav-link-mobile {
  display: none;
}
button {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
button:hover {
  background: #151516;
  color: #fff;
}
.menu-icons {
  display: none;
  color: #fff;
}
@media screen and (max-width: 850px) {
  .NavbarItems {
    z-index: 99;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #2a2a2a;
    width: 100%;
    height: auto;
    position: absolute;
    opacity: 0;
    top: 0;
    left: -100%;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    transition: none;
    border-radius: 13px;
  }
  .nav-menu.active {
    left: 0;
    opacity: 1;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .nav-link {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    padding: 0.2rem 0;
    color: #fff;
    transition: none;
    position: relative;
  }

  button {
    display: none;
  }
  .nav-link-mobile {
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin: auto;
    border-radius: 5px;
    width: 30%;
    background: #01959a;
    color: #fff;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;
  }
  .menu-icons {
    display: block;
  }
  .menu-icons i {
    font-size: 1.2rem;
    color: #fff;
  }
}
